#toc {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24%;
  background: #f3f3f3;
  border: 1px solid #fafafa;
  padding: 10px;
  overflow-y: auto;
  max-height: 80%;
  font-size: 14px;
  
}

#toc ul {
  list-style-type: disc;
  padding-left: 20px;
}
#toc ol {
  list-style-type: disc;
}
#toc > ul {
  display: block;
}

.toc-item {
  cursor: pointer;
  position: relative;
  list-style: disc;
  font-size: 14px;
}

.toc-item ul {
  display: none;
}

.toc-item.open > ul {
  display: block;
  
}
